body {
    margin: 0;
}

@font-face {
    font-family: "Quentin";
    src: url("../fonts/Quentin.otf") format("opentype");
}
@font-face {
    font-family: "TiemposBold";
    src: url("../fonts/TiemposFineTest-Bold.otf") format("opentype");
}

.main-page {
    width: 100%;
    height: 100vh;
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__bg {
    width: 100%;
    height: 100%;
}

.section__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 890px;
    min-height: 460px;
    padding: 0 50px;
    text-align: center;
}

.section__bg-mask {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 48, 40, 0.6);
}

.section__divider {
    height: 6px;
    width: 100px;
    background: #FFDF37;
}

.section__title {
    font-family: "TiemposBold", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    word-spacing: 5px;
    color: white;
    margin: 0;
}

.section__title--cursive {
    display: inline-block;
    font-family: "Quentin", sans-serif;
    font-weight: normal;
}